@import "tailwindcss";

/* You define a @theme that can be applied to utility classes */
/* You can define base styling and utilized the specialized CSS theme variables as well */
/* For now, I am just going to stick with this */

@theme {
    --color-steel-100: #f8f9fa;
    --color-steel-200: #e9ecef;
    --color-steel-300: #dee2e6;
    --color-steel-400: #ced4da;
    --color-steel-500: #adb5bd;
    --color-steel-600: #6c757d;
    --color-steel-700: #495057;
    --color-steel-800: #343a40;
    --color-steel-900: #212529;
}
 

@layer base {
    body {
        background-color: var(--color-steel-800);
    }

    /* h1 { font-size: var(--text-1xl); }
    h2 { font-size: var(--heading-2); }
    h3 { font-size: var(--heading-3); }
    h4 { font-size: var(--heading-4); }
    h5 { font-size: var(--heading-5); }
    h6 { font-size: var(--heading-6); } */
}